[submodule "AI-ML/Competitions/AI-ML/Competitions/CodeMentor"]
	path = AI-ML/Competitions/AI-ML/Competitions/CodeMentor
	url = https://github.com/kotharidhruv/CodeMentor.git
[submodule "Learnings/Byjus/Learnings/Byjus/project140"]
	path = Learnings/Byjus/Learnings/Byjus/project140
	url = https://github.com/kotharidhruv/project-140.git
[submodule "learnings/byjus/learnins/byjus/temp/sentiment_analysis-1"]
	path = learnings/byjus/learnins/byjus/temp/sentiment_analysis-1
	url = https://github.com/kotharidhruv/sentiment-analysis-1.git
