body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #A07855FF;
    color: #D4B996FF;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #D4B996FF;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 4rem 1rem;
    background: #D4B996FF;
}

.hero-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center 20%; /* Adjust the positioning of the image */
}


.hero h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
    color: #666;
}

.cta {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.cta:hover {
    background: #0056b3;
}

section {
    padding: 2rem 1rem;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0056b3;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
